/* Header */
.fist-title {
  color: #ffa500;
  font-size: 40px;
  font-weight: bold;
}

.seccond-title {
  color: #2a3042;
  font-size: 40px;
  font-weight: bold;
}

.fa-cart-shopping {
  color: #ffa500;
  font-size: 20px;
}

.numbers-of-products {
  font-size: 15px;
}
