<section class="contact">
  <div class="container">
    <p class="title-contact text-center mt-4 mb-4">Contact</p>
    <form [formGroup]="formContact" (ngSubmit)="sendForm()">
      <div class="row justify-content-center mb-3">
        <div class="col-md-5 mb-2">
          <label for="name" class="form-label"
            >Full name <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            placeholder="Walker Low"
            formControlName="name"
            [class.valid]="formContact.controls['name'].valid"
            [class.invalid]="
              formContact.controls['name'].invalid &&
              (formContact.controls['name'].touched ||
                formContact.controls['name'].dirty)
            "
          />
          <div
            *ngIf="
              formContact.controls['name'].invalid &&
              (formContact.controls['name'].touched ||
                formContact.controls['name'].dirty)
            "
          >
            <small
              class="error-message"
              *ngIf="formContact.controls['name'].hasError('minlength')"
              >At least 3 characters required!</small
            >

            <small
              class="error-message"
              *ngIf="formContact.controls['name'].hasError('required')"
              >This is a required field!</small
            >
          </div>
        </div>
        <div class="col-md-5">
          <label for="email" class="form-label"
            >Email <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            placeholder="walker@microsoft.com"
            formControlName="email"
            [class.valid]="formContact.controls['email'].valid"
            [class.invalid]="
              formContact.controls['email'].invalid &&
              (formContact.controls['email'].touched ||
                formContact.controls['email'].dirty)
            "
          />

          <div
            *ngIf="
              formContact.controls['email'].invalid &&
              (formContact.controls['email'].touched ||
                formContact.controls['email'].dirty)
            "
          >
            <small
              class="error-message"
              *ngIf="formContact.controls['email'].hasError('email')"
              >A valid email address is required!
            </small>

            <small
              class="error-message"
              *ngIf="formContact.controls['email'].hasError('required')"
              >This is a required field!</small
            >
          </div>
        </div>
        <div class="col-md-5">
          <label for="phone" class="form-label"
            >Phone <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control mb-2"
            placeholder="(XX) X XXXX-XXXX"
            mask="(00) 0 0000-0000"
            formControlName="phone"
            [class.valid]="formContact.controls['phone'].valid"
            [class.invalid]="
              formContact.controls['phone'].invalid &&
              (formContact.controls['phone'].touched ||
                formContact.controls['phone'].dirty)
            "
          />
          <div
            *ngIf="
              formContact.controls['phone'].invalid &&
              (formContact.controls['phone'].touched ||
                formContact.controls['phone'].dirty)
            "
          >
            <small
              class="error-message"
              *ngIf="formContact.controls['phone'].hasError('minlength')"
              >At least 11 characters required!</small
            >

            <small
              class="error-message"
              *ngIf="formContact.controls['phone'].hasError('required')"
              >This is a required field!</small
            >
          </div>
        </div>
        <div class="col-md-5">
          <label for="subject" class="form-label"
            >Subject <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            placeholder="Subject"
            formControlName="subject"
            [class.valid]="formContact.controls['subject'].valid"
            [class.invalid]="
              formContact.controls['subject'].invalid &&
              (formContact.controls['subject'].touched ||
                formContact.controls['subject'].dirty)
            "
          />
          <div
            *ngIf="
              formContact.controls['subject'].invalid &&
              (formContact.controls['subject'].touched ||
                formContact.controls['subject'].dirty)
            "
          >
            <small
              class="error-message"
              *ngIf="formContact.controls['subject'].hasError('minlength')"
              >At least 10 characters required!</small
            >

            <small
              class="error-message"
              *ngIf="formContact.controls['subject'].hasError('required')"
              >This is a required field!</small
            >
          </div>
        </div>
        <div class="col-md-10 mt-2">
          <label for="message" class="form-label"
            >Your message <span class="text-danger">*</span></label
          >

          <textarea
            class="form-control"
            placeholder="I've entered your information here..."
            formControlName="message"
            [class.valid]="formContact.controls['message'].valid"
            [class.invalid]="
              formContact.controls['message'].invalid &&
              (formContact.controls['message'].touched ||
                formContact.controls['message'].dirty)
            "
          ></textarea>
          <div
            *ngIf="
              formContact.controls['message'].invalid &&
              (formContact.controls['message'].touched ||
                formContact.controls['message'].dirty)
            "
          >
            <small
              class="error-message"
              *ngIf="formContact.controls['message'].hasError('minlength')"
              >At least 20 characters required!</small
            >

            <small
              class="error-message"
              *ngIf="formContact.controls['message'].hasError('required')"
              >This is a required field!</small
            >
          </div>
        </div>
        <div class="col-md-10 d-flex justify-content-end mt-3">
          <button
            type="submit"
            class="btn btn-send"
            [disabled]="formContact.invalid"
          >
            Send
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
