<section class="cart" *ngIf="cartItens.length > 0; else notProduct">
  <div class="container mb-4">
    <p class="title-cart text-center mt-4">Your Cart</p>
    <div
      class="row align-items-center border py-2 mb-2 cart-products"
      *ngFor="let cartItem of cartItens"
    >
      <div class="col-auto">
        <img
          [src]="cartItem.imagem"
          style="width: 80px; height: 80px; object-fit: cover"
          class="img-fluid rounded"
        />
      </div>

      <div class="col text-truncate">
        <p class="title-product pt-2">{{ cartItem.descricao }}</p>
      </div>

      <div class="col">
        <p class="title-price pt-2">
          {{ cartItem.preco | currency : "BRL" }}
        </p>
      </div>

      <div class="col quantity d-flex align-items-center">
        <label class="form-label me-2 pr-2"> Amount: </label>

        <input
          type="number"
          class="form-control form-control-sm w-auto text-center"
          style="width: 70px !important"
          [(ngModel)]="cartItem.quantidade"
          min="1"
          (change)="calculateAmount()"
        />
      </div>

      <div class="col-auto mt-2 mt-sm-0">
        <button class="btn btn-danger" (click)="removeCartProduct(cartItem.id)">
          X
        </button>
      </div>
    </div>

    <div class="row mt-4">
      <h3 class="card-text amount-price">
        Amount to pay: {{ amount | currency : "BRL" }}
      </h3>
    </div>
    <div class="row mt-2">
      <button class="btn btn-make-payment" (click)="buy()">Make Payment</button>
    </div>
  </div>
</section>

<ng-template #notProduct>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <h2>EMPTY CART <i class="fa-solid fa-cart-plus"></i></h2>
    </div>
    <h3 class="text-center mb-5">
      #TAKE ADVANTAGE OF OUR PROMOTIONS!
      <i class="fa-regular fa-face-smile-beam"></i>
    </h3>
  </div>
</ng-template>
