<section class="products">
  <div class="container">
    <div class="row">
      <a
        routerLink="/products/{{ product.id }}"
        class="card"
        style="width: 15rem"
        *ngFor="let product of products"
      >
        <img [src]="product.imagem" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ product.descricao }}</h5>
          <p class="card-text">{{ product.preco | currency : "BRL" }}</p>
          <p class="card-text">{{ product.descricaoPreco }}</p>
          <div class="text-center">
            <a href="#" class="btn btn-primary">Buy</a>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
