<section class="products">
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4"
        *ngFor="let product of products"
      >
        <a routerLink="/products/{{ product.id }}" class="card h-100">
          <img [src]="product.imagem" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title text-center">{{ product.descricao }}</h5>
            <p class="card-text text-center">
              {{ product.preco | currency : "BRL" }}
            </p>
            <p class="card-text text-center desc">
              {{ product.descricaoPreco }}
            </p>
            <div class="text-center">
              <a class="btn btn-buy">Buy now</a>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
